services:
  mongodb:
    image: mongo:8.0
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - mern-network
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    depends_on:
      - mongodb
    environment:
      MONGO_CONN_STR: mongodb://admin:password123@mongodb:27017/todo?authSource=admin
      PORT: 8080
    ports:
      - "8080:8080"
    networks:
      - mern-network
    restart: unless-stopped


  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://localhost:8080/api/tasks
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "3000:80"
    networks:
      - mern-network
    restart: unless-stopped


volumes:
  mongo-data:
    driver: local

networks:
  mern-network:
    driver: bridge
