# MongoDB Headless Service
apiVersion: v1
kind: Service
metadata:
  name: mongodb-svc
  namespace: dev
  labels:
    app: mongodb
spec:
  clusterIP: None                 # Headless service
  selector:
    app: mongodb
  ports:
  - port: 27017
    targetPort: mongodb
    protocol: TCP
